
h1 {
  color: var(--primary);
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 5em;
}


h1 b {
  font-family: "Open Sans", serif;
  font-weight: 500;
}

h2 {
  color: $primary;
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.6rem;
  //text-transform: uppercase;
  text-align: center;
  transition: all 1s;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    background: $secondary;
    position: absolute;
    left: -.5rem;
    bottom: 0;
    height: 1.4rem;
    width: 100%;
    z-index: -1;
    opacity: .8;
    transform: rotate(-3deg);
  }

  @include media("<=tablet") {
      font-size: 2em;
  }
}
h2 span {
  padding: 0.5em;
}

h3 {
  font-size: 1.5em;
}

p {
  color: var(--primary);
  font-family: "Open Sans", serif;
  font-weight: 300;
}

a {
  color: $secondary;
}
