$xiketic: #0d0c25ff;
$persian-green: #2a9d8fff;
$magnolia: #fffaffff;
$orange-soda: #fc5130ff;
$french-sky-blue: #65afffff;

// Colors
$primary   : $xiketic;
$secondary   : $persian-green;
$orange: $orange-soda;
$blue: $french-sky-blue;
$white: $magnolia;

:root {
  --background-color: #fff;
  --page-background: #fff;
  --text-color: #1a1616;
  --primary: #0d0c25;
  --secondary: #2a9d8fff;
  --secondary-darken : #1f756a;
  --input-background: #fff;
  --input-border: #1a1616;
  --input-color: #1a1616;
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --background-color: #030315;
//    --page-background: #0b0b15;
//    --text-color: #ededed;
//    --primary: #fff;
//    --secondary: #2a9d8fff;
//    --secondary-darken : #1f756a;
//    --input-background: #04041d;
//    --input-border: #fff;
//    --input-color: #fff;
//  }
//}