<template>
  <section class="content contact" >
    <article class="row" >
      <h2><span>Contact</span></h2>
      <form class="form"
            method="post"
            name="contactForm"
            data-netlify="true"
            data-netlify-honeypot="bot-field"
            @submit.prevent="handleSubmit">
<!--            @submit="this.$router.push('/contact-ok')"-->
        <input type="hidden" name="subject" />
        <input type="hidden" name="form-name" value="contactForm" />
        <p>
          <label class="label">Votre Email:</label><br>
          <input type="email" name="email" class="input" required v-model="emailAdress" maxlength="50" />
        </p>

        <p>
          <label class="label">Votre Message:</label><br>
          <textarea name="message" cols="50" rows="15" class="input" required  v-model="emailMessage"></textarea>
        </p>
        <p class="center">
          <button type="submit" class="large button full">Envoyer</button>
        </p>
      </form>
    </article>
  </section>
</template>

<style lang="scss">
@use "@/assets/sass/components/_contact.scss";
</style>

<script>
import axios from "axios";

export default {
  name: 'Contact',
  data () {
    return {
      emailAdress : "",
      emailMessage : ""
    }
  },
  methods: {
    encode (data) {
      return Object.keys(data)
          .map(
              key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
          )
          .join("&");
    },
    handleSubmit () {
      const axiosConfig = {
        header: { "Content-Type": "application/x-www-form-urlencoded" }
      };
      axios.post(
          "/",
          this.encode({
            "form-name": "contactForm",
            "subject": this.emailAdress + ' ' + this.emailMessage,
            "email" : this.emailAdress,
            "message" : this.emailMessage
          }),
          axiosConfig
      ).then(() => {
        this.$router.push('/contact-ok')
      });
    }
  }
}
</script>