<template>
  <Hero />
  <Skills />
  <Stack />
  <section class="page portfolio" data-speed="3" data-type="background" />
  <Experience />
  <Divers />
</template>

<script setup>
import Hero from '../components/Hero.vue'
import Skills from '../components/Skills.vue'
import Experience from '../components/Experience.vue'
import Divers from '../components/Divers.vue'
import Stack from '../components/Stack.vue'
</script>

<style lang="scss">
.portfolio {
  background: url(../assets/img/banniere.png) 50% 0 repeat fixed;
  min-height: 300px;
  background-size: 50%;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  transition: background-size 1s;
  clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);

  &:hover {
    background-size: 55%;
  }

  article {
    height: 200px;
    top: 150px;
  }

  @include media("<=tablet") {
    background-size: 100%;
    &:hover {
      background-size: 105%;
    }
  }
}
</style>