<template>
  <section class="content contact">

    <h2><span>Contact</span></h2>

    <p class="center success">Merci pour votre message !<br>
      Nous vous répondrons dans les plus brefs délais</p>

    <div class="center">
      <router-link to="/" class="large button center">Retour au site</router-link>
    </div>
  </section>
</template>

<style lang="scss">
.contact {
  padding: 1rem;
}
.success {
  font-size: 1.5rem;
}
</style>