<template>
  <section class="page content divers flex-column flex-center" data-speed="10" data-type="background">
    <h2>Divers</h2>
    <article class="row">
      <div class="big_icons">
        <div>
          <i class=" icon_vinyl"></i>
        </div>
        <div>
          <i class="icon_soccer"></i>
        </div>
        <div>
          <i class=" icon_spaceinvaders"></i>
        </div>
        <div>
          <i class=" icon_tent"></i>
        </div>
      </div>
    </article>
  </section>
</template>

<style lang="scss">

@use "sass:color";


.divers {
  background:
      linear-gradient(135deg, #111111 40%, transparent 25%) -50px 0,
      linear-gradient(225deg, $primary 40%, transparent 25%) -50px 0,
      linear-gradient(315deg, #111111 25%, transparent 25%),
      linear-gradient(45deg, $primary 25%, transparent 25%);
  background-size: 200% 100%;
  background-attachment: fixed;
  background-color: $primary;
  min-height: 300px;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  color: #fff;
  transition: background-color 1s;
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);

  &:hover {
    background-color : color.adjust($primary, $lightness:-2%);

  }

  article {
    text-align: center;
    top: 150px;
    color: #fff;
  }

  h2 {
    color: #fff;
  }
}

.big_icons {
  text-align: center;
  display : flex;
  width: 100%;

  p {
    clear: both;
    display: block;
    margin-top: 20px;
  }

  div {
    width: 33%;
    height: 33%;
    font-size: 4em;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor : pointer;
    transition: all 1s;
    &:hover  {
      color : $secondary
    }
  }
}
</style>