<template>
  <section class="content exp flex-column flex-center">
    <h2>Expériences</h2>

    <article class="row">
      <div class="exp-icon columns">
        <i class="icon_briefcase superbig"></i>
      </div>

      <div class="exp-list columns">
        <ul class="timeline">
          <template  v-for="item in exp" >
            <li v-if="!item.hide">
              <div class="indicator" />
              <span class="time">{{ item.time }}</span>
              <span v-if="item.titre">Poste : {{ item.titre }}</span>
              <span v-if="item.client">Client(s) :{{ item.client }}</span>
              <span v-if="item.status">Statut : {{ item.status }}</span>
              {{ item.hide }}
            </li>
          </template>
          <li>
            ...
          </li>
        </ul>

        <button class="button" type="button" @click="showAll(false)" v-if="show">En voir plus ...</button>
        <button class="button" type="button" @click="showAll(true)" v-if="!show">En voir moins ...</button>
      </div>
    </article>
  </section>
</template>

<script setup>
import { format } from "date-fns";
import { ref } from "vue";
const today = format(new Date(), "dd-MM-yyyy");

const experience = [
  {
    time: "Aout 2021 - Février 2025",
    titre: "Développeur Front-End",
    status: "Freelance",
    client: "Decathlon",
  },
  {
    time: "Sept 2020 - Juillet 2021",
    titre: "Chef de projet SI",
    status: "Formation OpenClassrooms",
  },
  {
    time: "Mai 2020 - Aout 2020",
    titre: "Puériculture, pizzas et certification Opquast",
    client: "Famille Peru :)",
  },
  {
    time: "Oct 2018 - Avril 2020",
    titre: "Développeur Front-End",
    status: "Freelance",
    client: "Verspieren",
  },
  {
    time: "Nov 2017 - sept 2018",
    titre: "Dev Front-End",
    client: "Auchan",
    status: "Freelance",
  },
  {
    time: "Mai 2017 - Nov 2017",
    titre: "Dev Front-End",
    client: "AXA (pour Altima°) / Leroy Merlin",
    status: "Freelance",
  },
  {
    time: "Août 2016 - Mai 2017",
    titre: "Dev Front-End",
    client: "Auchan",
    status: "Freelance",
  },
  {
    time: "Mars 2016 - Août 2016",
    titre: "Lead Dev Front-End",
    client: "SQLI",
    status: "Freelance",
  },
  {
    time: "2011 - Mars 2016",
    titre: "Dev Front-End",
    client: "Auchan, AXA...",
    status: "CDI Altima°",
    hide: true
  },
  {
    time: "2010-2011",
    titre: "Intégrateur, Web Designer",
    status: "CDI Axecibles°",
    hide: true
  },
  {
    time: "2008-2010",
    titre: "Intégrateur, Web Designer",
    status: "CDI CommePromis",
    hide: true
  },
];

const exp = ref(experience);
const show = ref(true);

const showAll = (bool) => {
  show.value = bool;
  exp.value.forEach(item => {
    if(item.hide !== undefined) item.hide = bool
  });
}
</script>

<style lang="scss">
@use "sass:color";
.exp-icon {
  flex-basis: 33%;
}

.exp-list {
  flex-basis: 66%;
  text-align: left;
}

.square {
  padding: 0;
}
.square li {
  padding: 5px 0;
  line-height: 1.3em;
  display: block;
}
.square li span {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--primary);
}
.square li .points {
  font-size: 50px;
  margin-bottom: 40px;
}

.timeline {
  border-left: 0.2rem solid $secondary;
  padding: 0;

  li {
    display: block;
    margin: 1rem 0;
    padding: 0 2rem;
    position: relative;

    transition: 200ms linear;

    &:hover {
      transform: scale(1.2 , 1.2);
      transform-origin: left;
    }

    span {
      display: block;
      &.time {
        font-weight: 700;
      }
    }
  }
}

.indicator {
  display: block;
  width: 1rem;
  height: 1rem;
  background: color.mix($secondary, black, 50%);
  border-radius: 50%;
  border: .2rem solid white;
  position: absolute;
  left: -.6rem;
  top: .4rem;
}
</style>
