<template>
  <header role="banner">
    <article class="row">
      <router-link to="/">
        <h1 class="header-title columns" id="title">JS <b>PERU</b><br>
          <span>Dév Front-End / Lille / Freelance</span>
        </h1>
      </router-link>
      <nav class="header-social columns" id="social">
        <ul>
          <li><a href="https://www.linkedin.com/in/jsperu/" title="Linkedin"><i class="icon_linkedin"></i></a></li>
          <li><a href="mailto:jsperu@ik.me" title="Email"><i class="icon_email"></i></a></li>
        </ul>
      </nav>
    </article>
  </header>
</template>

<style lang="scss">
header[role="banner"] {
  background: var(--page-background);

  article {
    display : flex;
    align-items: center;
    padding: 1rem 0;
    //@include media("<=tablet") {
    //    flex-direction : column
    //}
  }

  a {
    color: $secondary;
    font-size: 2em;
    padding: 0 10px;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }
}

.header-title {
  color: var(--primary);
  font-size: 2rem;
  line-height: 1.5rem;
  margin:0;
  span {
    font-size: 12px;
    line-height: 12px;
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-style: italic;
  }

  @media( "<=tablet") {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
  }
}

.header-social {
  margin-left : auto;
  li {
    display: inline-block;
  }

  a:hover {
    color: var(--primary);

    i {
      transform: rotate(70deg);
    }
  }

  @include media( "<=tablet") {
    position: relative;
    width: 100%;

    ul {
      text-align: center;
      margin: 10px 0;
      padding: 0;
      li {
        display: inline-block;
        a, a i {
          font-size: 1.2em;
        }
      }
    }
  }
}
</style>