<template>
  <section class="hero" data-speed="5" data-type="background">
    <article class="row">
      <div class="hero-photo columns">
        <span class="img_left" id="avatar"></span>
        <a href="../../CV_JSPERU_2025.pdf" class="large button" id="btn_CV"
          >CV complet (2025)</a
        >
      </div>
      <div class="hero-resume columns">
        <h2>En bref :</h2>
        <ul class="bref">
          <li v-for="item in exp">
            <span class="title">{{ item.title }} : </span>
            <span :class="{ 'tag': item.tag }">{{ item.value }}</span>
          </li>
        </ul>
        <img :src="opquast" width="150" alt="Opquast Badge" />
      </div>
    </article>
  </section>
</template>

<script setup>
import opquast from "../assets/img/badge_avance.svg";
const exp = [
  { title: "Situation", value: "Disponible !", tag: true },
  { title: "Poste", value: "Dev Front-End" },
  { title: "Statut", value: "Freelance" },
  { title: "Clients", value: "Decathlon, Auchan, AXA,..." },
  { title: "Localisation", value: "Lille" },
  { title: "Expertise", value: "HTML5 / CSS3 / Javascript, Vue.js" },
  { title: "Frameworks", value: "VUE.js , Svelte, Astro, React..." },
  { title: "Skills", value: "Best Practices, Optimisation, Performances" },
  { title: "Formation", value: "Gestion de projet SI / OpenClassrooms " },
  { title: "Certification", value: "Opquast 2020" },
];
</script>

<style lang="scss">
@use "sass:color";

.hero {
  background-color: $primary;
  min-height: 300px;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  transition: background-color 1s;

  &:hover {
    background-color : color.adjust($primary, $lightness: -2%);
  }

  article {
    text-align: left;
  }

  li {
    color: #fff;
    padding: 0.5em;
    font-size: 14px;
  }

  h2 {
    text-align: left;
    color: #fff;
  }
}

.hero-photo {
  text-align: center;
  flex-basis: 33%;
  @include media(">=tablet") {
    display: flex;
    flex-direction : column;
    margin: auto;
  }
}

.hero-resume {
  flex-basis: 66%;
}

#avatar {
  display: block;
  margin: 0 auto 20px;
  background-size: 280px;
  width: 200px;
  height: 200px;
  background-image: url(../assets/img/lomo.jpg);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  border-radius: 50%;
}


@media only screen and (max-width: 470px) {
  #avatar {
    margin: 0 auto;
    float: none;
  }

  #btn_CV {
    margin: 10px auto;
    display: block;
    font-size: 1rem;
  }
}

.bref {
  .title {
    font-weight: 900;
  }
}

.tag {
  padding: 0.2rem 0.4rem;
  position: relative;

  &:before {
    content: "";
    background: $secondary;
    position: absolute;
    left: -.2rem;
    bottom: 0;
    height: 1rem;
    width: 100%;
    z-index: -1;
    opacity: .8;
    transform: rotate(-3deg);
  }
}
</style>
