<template>
  <section class="content skills flex-column flex-center">
    <h2>Compétences</h2>
    <article class="row">
      <div class="skills-column columns center">
        <i class="icon_cogs superbig orange"></i>
        <h3>Développement Front-End</h3>
        <ul class="square">
          <li>Développement d'interfaces utilisateurs</li>
          <li>VUE.js enthousiaste</li>
          <li>Cypress</li>
          <li>VITE, Rollup, Webpack</li>
          <li>Svelte, Vue.js, React</li>
          <li>Java templating (Thymeleaf)</li>
          <li>Javascript templating (Mustache, Handlebars, Pug...)</li>
        </ul>
      </div>

      <div class="skills-column columns center">
        <i class="icon_accessibility superbig"></i>
        <h3>Gestion de projet</h3>
        <ul class="square">
          <li>Consulting. Best Practices, Méthodologie</li>
          <li>Cahier des charges fonctionnel</li>
          <li>Cahier des charges technique</li>
          <li>Benchmarking</li>
          <li>Etudes de faisabilité</li>
          <li>Rétroplanning</li>
          <li>Methode agile</li>
          <li>AMOA / Product Owner</li>
          <li>UML</li>
        </ul>
      </div>

      <div class="skills-column columns center">
        <i class="icon_code superbig blue"></i>
        <h3>Intégration</h3>
        <ul class="square">
          <li>Interfaces HTML5 / CSS3 / JS</li>
          <li>Responsive design (Mobile/ Tablettes)</li>
          <li>Accessibilité & UX</li>
          <li>SASS / LESS</li>
          <li>Templating PHP et Java: TWIG, Thymeleaf, etc...</li>
        </ul>
      </div>

      <div class="skills-column columns center">
        <i class="icon_screen superbig dark"></i>
        <h3>UX / UI</h3>
        <ul class="square">
          <li>Design Systems</li>
          <li>Design de sites web</li>
          <li>Experience pro de webdesign</li>
          <li>Intérêt pour l' UX</li>
          <li>Intérêt pour l'accessibilité</li>
          <li>Création vectorielle</li>
          <li>Déclinaisons de chartes</li>
        </ul>
      </div>
    </article>
  </section>
</template>

<style lang="scss">
.skills-column {
  flex-basis: 25%;
  @include media("<=desktop") {
    flex-basis: 50%;
  }
  @include media("<=tablet") {
    flex-basis: 100%;
  }
}

i.superbig {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  background: $secondary;
  border-radius: 50%;

  &.blue {
    background: $blue;
  }
  &.orange {
    background: $orange;
  }
  &.dark {
    background: $primary;
  }
}
</style>