<template>
  <section class="content stack">
    <article class="flex-column flex-center">
      <h2>Stack technique</h2>
      <h3>Ce avec quoi j'aime travailler</h3>
      <div class="icons">
        <img :src="vue" title="Vue 3" alt="Vue"/>
        <img :src="vite" title="vite" alt="Vite" />
        <img :src="webstorm" title="webstorm"  alt="Webstorm"/>
        <img :src="js" title="Javascript"  alt="Javascript"/>
        <img :src="sass" title="sass"  alt=""/>
        <img :src="figma" title="Figma"  alt="Figma" />
        <img :src="gitlab" title="Gitlab"  alt="gitlab"/>
        <img :src="svelte" title="Svelte"  alt="Svelte"/>
        <img :src="vercel" title="Vercel"  alt="Vercel"/>
        <img :src="html" title="Html 5"  alt="html"/>
        <img :src="linux" title="Linux"  alt="Linux"/>
      </div>
    </article>
    <article class="flex-column flex-center">
      <h3>Ce avec quoi j'ai travaillé</h3>
      <div class="icons">
        <img :src="github" title="Github"  alt="Github"/>
        <img :src="react" title="React"  alt="React"/>
        <img :src="spring" title="Spring"  alt="Spring"/>
        <img :src="cypress" title="Cypress"  alt="Cypress"/>
        <img :src="ts" title="Typescript"  alt="ts"/>
        <img :src="symfony" title="Symfony"  alt="Symfony"/>
      </div>
    </article>
  </section>
</template>

<script setup>
import vue from "../assets/img/vue.svg";
import svelte from "../assets/img/svelte-icon.svg";
import js from "../assets/img/javascript.svg";
import vite from "../assets/img/vitejs.svg";
import webstorm from "../assets/img/webstorm.svg";
import gitlab from "../assets/img/gitlab.svg";
import github from "../assets/img/github.svg";
import sass from "../assets/img/sass.svg";
import cypress from "../assets/img/cypress.svg";
import ts from "../assets/img/typescript-icon.svg";
import symfony from "../assets/img/symfony.svg";
import spring from "../assets/img/spring-icon.svg";
import figma from "../assets/img/figma.svg";
import react from "../assets/img/react.svg";
import html from "../assets/img/html.svg";
import vercel from "../assets/img/vercel.svg";
import linux from "../assets/img/linux-tux.svg";
</script>

<style lang="scss">
.stack {
  display: block;
}

.icons {
  display: flex;
  max-width: 100%;
  overflow-x: auto;

  img {
    margin: 2rem;
    height: 2rem;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
</style>
