@use "sass:color";

.button{
  border: none ;
  cursor:pointer;
  font-family:inherit;
  font-weight:bold;
  line-height:1;
  margin:0 0 1.25em;
  position:relative;
  text-decoration:none;
  text-align:center;
  display:inline-block;
  padding: 0.75em 1.5em 0.8125em 1.5em;
  font-size:16px;
  background-color: var(--secondary);
  color:#fff;
  -webkit-appearance:none;
  border-radius: 4px 4px 4px;
  box-shadow: 0 8px color.adjust($secondary, $lightness: -10%);
  transition:background-color 300ms ease-out;

  &:hover {
    top: 2px;
    box-shadow: 0 6px color.adjust($secondary, $lightness: -10%);
  }
  &:focus, &:hover {
    background-color: color.adjust($secondary, $lightness: -10%);
    color:#fff
  }

  &.large {
    padding: 1.03125em 2em 1.03125em 2em;
    font-size:1.25em
  }

  &.small{
    padding: 0.625em 1.125em 0.625em 1.125em;
    font-size:0.8125em
  }
  &.tiny{
    padding:0.4375em 0.875em 0.5em 0.875em;
    font-size:0.6875em
  }
  &.expand{
    padding-right:0;
    padding-left:0;
    width:100%
  }
  &.left-align{
    text-align:left;
    text-indent:0.75em
  }
  &.right-align{
    text-align:right;
    padding-right:0.75em
  }
}


//&:active{-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2) inset;box-shadow:0 1px 0 rgba(0,0,0,0.2) inset}

@media only screen and (min-width: 768px){
    button,.button{display:inline-block}
}
