@use "../base/_variables.scss";
@use "../base/_mq.scss";

//Exp
.exp-icon {
  flex-basis: 33%;
}

.exp-list {
  flex-basis: 66%;
  text-align: left;
}

.square {
  padding: 0;
}
.square li {
  padding: 5px 0;
  line-height: 1.3em;
  display: block;
}
.square li span {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--primary);
}
.square li .points {
  font-size: 50px;
  margin-bottom: 40px;
}