@use "../base/_variables.scss";
@use "../base/_mq.scss";

.skills-column {
    flex-basis: 25%;
    @include media("<=desktop") {
        flex-basis: 50%;
   }
    @include media("<=tablet") {
        flex-basis: 100%;
   }
}

i.superbig {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  background: $secondary;
  border-radius: 50%;

  &.blue {
    background: $blue;
  }
  &.orange {
    background: $orange;
  }
  &.dark {
    background: $primary;
  }
}