@use "base/_import_fonts.scss";
@use "base/_variables.scss";
@use "base/_mq.scss";

body {
  background: var(--page-background);
  color: var(--text-color);
  font-family: "Open Sans", serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.row {
  max-width: 62.5em;
  margin: 0 auto;
  width: 100%;
  display : flex;
  flex-wrap : wrap;
  justify-content: center;
  h2 {
    flex : 0 0 100%
  }
}

.column, .columns {
  position: relative;
  padding-left: .9375em;
  padding-right: .9375em;
}

article {
  margin: 0 auto;
  padding: 30px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  align-items: center;
}

.square {
  font-size: 1rem;

  li {
    font-size: 14px;
  }
}

.center {
  text-align: center;
}

.lighter {
  background: #f1f1f2;
}

.input {
  border: 1px solid var(--input-border);
  background: var(--input-background);
  color: var(--input-color);
  width: 100%;
  margin: .5rem 0;
  padding: 1rem;
  border-radius: 3px;
}

.full {
  width: 100%;
}